.appBar {
	position: "relative";
}

.flex {
	flex: 1;
}

.imgContainer {
	position: "relative";
	flex: 1;
	padding: 16;
	display: "flex";
	justify-content: "center";
	align-items: "center";
}

img {
	max-width: "100%";
	max-height: "100%";
}
