.graduation-info {
	padding: 0 10;
	width: 100%;
	text-align: left;
}

input[type="text"] {
	width: 100%;
	padding: 10px;
	/* margin: 5px 0 22px 0; */
	border: none;
}

input[type="text"]:focus {
	outline: none;
}



.title-dark {
	color: darkblue;
	text-align: center;
}

