@import url("https://use.fontawesome.com/releases/v5.3.1/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Numans");

* {
	// outline: 1px dashed rgba(255, 255, 255, 0.4);
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: unset;
}

body {
	background: rgba(127, 127, 127, 0.5);
	background-image: url("../img/bg-2023-small.jpg");
	/* background-repeat: repeat; */
}

body.background {
	filter: blur(8px);
	-webkit-filter: blur(8px);
	background: rgba(127, 127, 127, 0.5);
	backdrop-filter: blur(8px);
	height: 100vh;
	width: 50%;
}


button {
	border-radius: 10px;
	border: none;
	box-shadow: 2px 2px 20px 0px #3fa1a9;
}

span.input-group-text {
	background-color: #f8ad3c !important;
	color: black;
	border: 0 !important;
	width: 3em;
	display: flex;
	justify-content: center;
}

.container {
	/* display: flex; */
	margin: 0 auto;
	margin-top: 1em;
	margin-bottom: 1em;
	/* padding: 1em; */

	width: 100vw;
	height: 100%;
	max-width: 360px;
	padding: 10px;
	position: relative;
	align-content: center;
	background-color: rgba(127, 127, 127, 0.5) !important;
	border-radius: 10px !important;
	box-shadow: 4px 4px 10px 0px #3fa1a9;
}

@media all and (max-width: 360px) {
	.container {
		height: 100vh;
		width: 100vw;
		margin: 0px !important;
		border-radius: 0px !important;
	}
}

.containerWhite {
	/* display: flex; */
	margin: 0 auto;
	margin-top: 1em;
	margin-bottom: 1em;
	/* padding: 1em; */

	width: 100vw;
	height: 100%;
	// max-width: 360px;
	padding: 5px;
	position: relative;
	align-content: center;
	background-color: rgba(255, 255, 255, 0.5);
}

.center {
	margin: 2em;
	display: block;
	justify-content: center;
	text-align: center;
}

.title {
	color: #4A55A2;
	text-align: center;
}

h3.title {
	font-size: xx-large;
}


.btn {
	width: 100%;
	margin-bottom: 10px;
	padding: 10px;

	background-color: #f8ad3c;
	color: white;
	cursor: pointer;
	opacity: 0.8;
}

.btn:hover {
	opacity: 1;
}

.fontSmall {
	font-size: 1em;
}

.fontLarge {
    font-size: 20em;
}

.avatar {
	margin: 1em;
	display: grid;
	justify-content: center;
	text-align: center;
}

.avatarImg {
	// border-radius: 50%;
	width: 150px;
	height: 150px;
	object-fit: contain;
	overflow: hidden;
}

