.cc1900 {
	background-color: rgba(130, 219, 216, 0.8);
}
.cc1959 {
	background-color: rgba(199, 11, 128, 1);
}
.cc1960 {
	background-color: rgba(199, 11, 128, 0.9);
}
.cc1961 {
	background-color: rgba(199, 11, 128, 0.8);
}
.cc1962 {
	background-color: rgba(199, 11, 128, 0.7);
}
.cc1963 {
	background-color: rgba(199, 11, 128, 0.6);
}
.cc1964 {
	background-color: rgba(199, 11, 128, 0.5);
}
.cc1965 {
	background-color: rgba(199, 11, 128, 0.4);
}
.cc1966 {
	background-color: rgba(37, 48, 155, 1);
}
.cc1967 {
	background-color: rgba(37, 48, 155, 0.9);
}
.cc1968 {
	background-color: rgba(37, 48, 155, 0.8);
}
.cc1969 {
	background-color: rgba(37, 48, 155, 0.7);
}
.cc1970 {
	background-color: rgba(37, 48, 155, 0.6);
}
.cc1971 {
	background-color: rgba(96, 114, 98, 1);
}
.cc1972 {
	background-color: rgba(96, 114, 98, 0.9);
}
.cc1973 {
	background-color: rgba(96, 114, 98, 0.8);
}
.cc1974 {
	background-color: rgba(96, 114, 98, 0.7);
}
.cc1975 {
	background-color: rgba(96, 114, 98, 0.6);
}
.cc1976 {
	background-color: rgba(178, 40, 40, 1);
}
.cc1977 {
	background-color: rgba(178, 40, 40, 0.9);
}
.cc1978 {
	background-color: rgba(178, 40, 40, 0.8);
}
.cc1979 {
	background-color: rgba(178, 40, 40, 0.7);
}
.cc1980 {
	background-color: rgba(178, 40, 40, 0.6);
}
.cc1981 {
	background-color: rgba(247, 127, 34, 1);
}
.cc1982 {
	background-color: rgba(247, 127, 34, 0.9);
}
.cc1983 {
	background-color: rgba(247, 127, 34, 0.8);
}
.cc1984 {
	background-color: rgba(247, 127, 34, 0.7);
}
.cc1985 {
	background-color: rgba(247, 127, 34, 0.6);
}
.cc1986 {
	background-color: rgba(1, 111, 128, 1);
}
.cc1987 {
	background-color: rgba(1, 111, 128, 0.9);
}
.cc1988 {
	background-color: rgba(1, 111, 128, 0.8);
}
.cc1989 {
	background-color: rgba(1, 111, 128, 0.7);
}
.cc1990 {
	background-color: rgba(1, 111, 128, 0.6);
}
.cc1991 {
	background-color: rgba(4, 84, 151, 1);
}
.cc1992 {
	background-color: rgba(4, 84, 151, 0.9);
}
.cc1993 {
	background-color: rgba(4, 84, 151, 0.8);
}
.cc1994 {
	background-color: rgba(4, 84, 151, 0.7);
}
.cc1995 {
	background-color: rgba(4, 84, 151, 0.6);
}
.cc1996 {
	background-color: rgba(255, 108, 108, 1);
}
.cc1997 {
	background-color: rgba(255, 108, 108, 0.9);
}
.cc1998 {
	background-color: rgba(255, 108, 108, 0.8);
}
.cc1999 {
	background-color: rgba(255, 108, 108, 0.7);
}
.cc2000 {
	background-color: rgba(255, 108, 108, 0.6);
}
.cc2001 {
	background-color: rgba(27, 61, 65, 1);
}
.cc2002 {
	background-color: rgba(27, 61, 65, 0.9);
}
.cc2003 {
	background-color: rgba(27, 61, 65, 0.8);
}
.cc2004 {
	background-color: rgba(27, 61, 65, 0.7);
}
.cc2005 {
	background-color: rgba(27, 61, 65, 0.6);
}
.cc2006 {
	background-color: rgba(255, 140, 51, 1);
}
.cc2007 {
	background-color: rgba(255, 140, 51, 0.9);
}
.cc2008 {
	background-color: rgba(255, 140, 51, 0.8);
}
.cc2009 {
	background-color: rgba(255, 140, 51, 0.7);
}
.cc2010 {
	background-color: rgba(255, 140, 51, 0.6);
}
.cc2011 {
	background-color: rgba(114, 27, 118, 1);
}
.cc2012 {
	background-color: rgba(114, 27, 118, 0.9);
}
.cc2013 {
	background-color: rgba(114, 27, 118, 0.8);
}
.cc2014 {
	background-color: rgba(114, 27, 118, 0.7);
}
.cc2015 {
	background-color: rgba(114, 27, 118, 0.6);
}
.cc2016 {
	background-color: rgba(72, 1, 216, 1);
}
.cc2017 {
	background-color: rgba(72, 1, 216, 0.9);
}
.cc2018 {
	background-color: rgba(72, 1, 216, 0.8);
}
.cc2019 {
	background-color: rgba(72, 1, 216, 0.7);
}
.cc2020 {
	background-color: rgba(72, 1, 216, 0.6);
}
.cc2021 {
	background-color: rgba(72, 1, 216, 0.5);
}
.cc2022 {
	background-color: rgba(72, 1, 216, 0.4);
}
